#navigation{
    background-color: black;
    color: white;
}
.level-right{
    background-color: teal;
    width: 75%;
}
.level-left {
    background-color: red;
    width: 25%;
}
.alignedRight{
    justify-content: flex-end;
}
.box{
    padding: .25rem;
    margin-bottom: .25rem !important;
}
.content {
    margin-bottom: 5px;
}
.fiveDayStyle {
    padding: .75rem .50rem;
}
.greenBackGround{
    background-color: green;
}
.yellowBackGround{
    background-color: yellow;
}
.orangeBackGround{
    background-color: orange;
}
.redBackGround{
    background-color: red;
}
.blueBackGround {
    background-color: blue;
    color: white;
}
.headerStyle {
    text-align: center;
    font-size: 3rem;
    padding: 24px 12px;
}
.searchFont {
    font-weight: bolder;
}
button {
    margin-bottom: .5rem;
    justify-content: center;
}